<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>

<main class="centered auth-page">
  <h1>New Password</h1>

  <% if (errorMessage) { %>
    <div class="message-box message-box--error"><%= errorMessage %></div>
  <% } %>

  <form class="product-form login-form" action="/new-password" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <input type="hidden" name="passwordToken" value="<%= passwordToken %>" />
    <input type="hidden" name="userId" value="<%= userId %>" />

    <div class="form-control">
      <label for="password">New Password</label>
      <input type="password" name="password" id="password" required />
    </div>

    <button class="btn" type="submit">Update Password</button>
  </form>
</main>

<%- include('../includes/end.ejs') %>
