<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>

<main class="centered">
  <h1>Your Cart</h1>

  <% if (products.length > 0) { %>
    <ul class="cart__item-list">
      <% for (const item of products) { %>
        <li class="cart__item">
          <h2><%= item.productId.title %></h2>
          <h2>Quantity: <%= item.quantity %></h2>
          <form action="/cart-delete-item" method="POST">
            <input type="hidden" value="<%= item.productId._id %>" name="productId" />
            <button class="btn danger" type="submit">Delete</button>
          </form>
        </li>
      <% } %>
    </ul>

    <h2>Total: $<%= Number(totalPrice).toFixed(2) %></h2>

    <div class="centered">
      <form action="/create-order" method="POST">
        <button type="submit" class="btn">Order Now!</button>
      </form>
    </div>
  <% } else { %>
    <h2>No Products in Cart!</h2>
  <% } %>
</main>

<%- include('../includes/end.ejs') %>
